<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <ul>
                <div class="logo">
                    <a href="/">
                        <!-- <img src="assets/images/logo.png" alt="" /> --><span>WKMB</span></a>
                </div>
                <li><a href="/"><i class="ti-home"></i> Anasayfa </a></li>
                <li class="label">Sorular</li>
                <li><a class="sidebar-sub-toggle"><i class="ti-question"></i> Sorular <span
                            class="badge badge-primary">2</span> <span
                            class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="/questions">Listele</a></li>
                        <li><a href="/questions/add">Ekle</a></li>
                    </ul>
                </li>
                <li class="label">Kategoriler</li>
                <li><a class="sidebar-sub-toggle"><i class="ti-question"></i> Kategoriler <span
                            class="badge badge-primary">2</span> <span
                            class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="/categorys">Listele</a></li>
                        <li><a href="/categorys/add">Ekle</a></li>
                    </ul>
                </li>

                <li><a><i class="ti-close"></i> Çıkış</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- /# sidebar -->